:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: #444;
}
a {
  color: #00be6d;
  text-decoration: none;
}
a:hover {
  color: #717ff5;
  text-decoration: none;
}


/*Main*/
#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;

  h2.heading-title {
    margin-bottom: 10px;
    font-size: 28px;
    margin-bottom: 7px;
    font-weight: 300;
  }
  h3.heading-title {
    font-size: 24px;
    margin-bottom: 7px;
    font-weight: 300;
  }
  h4.heading-title {
    font-size: 20px;
    margin-bottom: 7px;
    font-weight: 300;
  }
  h5.heading-title {
    font-size: 20px;
    margin-bottom: 7px;
    font-weight: 300;
  }

  .page-title {
    margin-bottom: 10px;

    h1 {
      font-size: 32px;
      margin-bottom: 0;
      font-weight: 500;
    }    
  }
}
.logo {
  line-height: 1;

  img {
    max-height: 26px;
    margin-right: 6px;
  }

  span {
    font-size: 26px;
    font-weight: 900;
    color: #222;
  }
}
.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  background-color: #fff;
  padding-left: 20px;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.015);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.15);

  .toggle-sidebar-btn {
    font-size: 32px;
    padding-left: 10px;
    cursor: pointer;
    color: #222;
  }
  .search-bar {
    min-width: 360px;
    padding: 0 20px;
    position: absolute;
    right: 0;
  }
  .nav-icon {
    font-size: 14px;
    color: #222;
    margin-right: 10px;
    position: relative;
    margin-top: 10px;

    span.material-symbols-outlined {
      top: 8px;
      position: relative;
    }
  }
}
/*Sidebar*/
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 250px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px 0px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  border-right: 1px dotted #e5e5e5;
}
.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}
.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .nav-item {
    margin-bottom: 5px;
  }
  .nav-heading {
    font-size: 11px;
    text-transform: uppercase;
    color: #899bbd;
    font-weight: 600;
    margin: 10px 0 5px 15px;
  }
  .nav-link {
    display: flex;
    align-items: center;
    font-weight: 400;
    color: #00be6d;
    transition: 0.3;
    // background: #f8f8fa;
    padding: 10px 15px;
    border-radius: 4px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  span {
    font-size: 14px;
    margin-right: 10px;
    color: #222;
  }
  .nav-link span:last-child {
    float: right;
  }
  .css-1r6i2mo {
    height: 16px;
    display: block;
  }
}
.sidebar-nav .nav-link .sidebar-nav .nav-link span.material-symbols-outlined {
  color: #00be6d;
}
.sidebar-nav .nav-link span.icon-left {
  font-size: 22px;
  margin-right: 10px;
  color: #00be6d;
}
.sidebar-nav .nav-link span.icon-right {
  font-size: 20px;
  margin-right: 0px !important;
  color: #222;
}
.sidebar-nav .nav-link.collapsed {
  color: #222;
  background: #f8f8fa;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  span {
    color: #222;
  }
}
.sidebar-nav .nav-link.collapsed span.icon-left {
  font-size: 22px;
  margin-right: 10px;
  color: #00be6d;
}
.sidebar-nav .nav-link.collapsed span.icon-right {
  font-size: 20px;
  margin-right: 10px;
  color: #00be6d;
}

.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}
.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}
.sidebar-nav .nav-content {
  padding: 0;
  margin: 0 0 0 35px;
  list-style: none;
}
.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #222;
  transition: 0.3;
  padding: 7px 0 7px 10px;
  transition: 0.3s;
  border-bottom: 1px dotted #e5e5e5;

}
.sidebar-nav .nav-content a span {
  font-size: 20px;
  margin-right: 4px;
  line-height: 0;
  border-radius: 50%;
}
.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a:focus{
  color: #00be6d;
}

.sidebar-nav .nav-content a.active {
  color: #1F7EAD;
}
.sidebar-nav .nav-content a.active i {
  background-color: #00be6d;
}
/*footer*/
.footer {
  padding: 15px 0;
  font-size: 14px;
  transition: all 0.3s;
  border-top: 1px solid #e5e5e5;
  font-family: "Roboto", sans-serif;
}
.footer .copyright {
  text-align: center;
  color: #222;
}
@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
  .header {
    .search-bar {
      position: fixed;
      top: 50px;
      left: 0;
      right: 0;
      padding: 20px;
      box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
      background: #00be6d;
      z-index: 9999;
      transition: 0.3s;
      visibility: hidden;
      opacity: 0;
    }
    .search-bar-show {
      top: 60px;
      visibility: visible;
      opacity: 1;
    }
  }
  .sidebar {
    left: -300px;
  }
  .toggle-sidebar .sidebar {
    left: 0;
  }
}
@media (min-width: 1200px) {
  .logo {
    width: 190px;
  }
  .toggle-sidebar-btn {
    display: none;
  }
  .header-nav{
    display: none;
  }
  #main,
  #footer {
    margin-left: 270px;
  }
  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -300px;
  }
}
/*Back to top*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #00be6d;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  transition: all 0.4s;
  color: #e5e5e5;

  &:hover {
    background: #00824b;
    color: #fff;
  }

  span {
    font-size: 24px;
    color: #fff;
    line-height: 0;
  }
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* Breadcrumbs */
.breadcrumb {
  font-size: 14px;
  color: #899bbd;
  a {
    color: #00be6d;
    transition: 0.3s;
    &:hover {
      color: #222;
    }
  }
}
.breadcrumb .breadcrumb-item::before {
  color: #899bbd;
}
.breadcrumb .active {
  color: #51678f;
}

.navbar-collapse.collapse {
  /* display:block!important;*/
   height:auto!important;
   padding-bottom:0;
   overflow:visible!important
  }
  #sidebar{
    .collapse:not(.show) {
      display: block !important;
  }
  }