//----------------------------------
// MATERIAL ICONS FONTS
//----------------------------------
$material-icons-font-family: Material Symbols Outlined, arial, sans-serif !important;

//----------------------------------
// FONTS
//----------------------------------
$main-font-family: Roboto, arial, sans-serif !important;
$font-weight-light: 300 !default;
$font-weight-regular: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 700 !default;

//----------------------------------
// COLORS
//----------------------------------
$primary-color: #00be6d;
$primary-dark-color: #00824b;
$primary-alpha-dark-color: #01683c;
$primary-light-color: #e5f9f0;
$primary-alpha-light-color: #4ca881;
$primary-alpha-lighter-color: rgba(232, 126, 60, 0.15);

$secondary-color: #0a2837;
$secondary-light-color: #11435c;
$secondary-lighter-color: #1f7ead;
$secondary-alpha-dark-color: #0c2f40;
$secondary-alpha-light-color: #597b8d;
$secondary-alpha-lighter-color: #e9f2f7;

$gray-color: #b1bac2;
$gray-light-color: #e5e5e5;
$gray-lighter-color: #f8f8fa;
$gray-dark-color: #444;
$gray-darker-color: #222;
$gray-alpha-dark-color: rgba(0, 0, 0, 0.05);

$red-color: #d54308;
$white-color: #fff;
$black-color: #000;

//----------------------------------
//BORDER RADIUS
//----------------------------------
$border-radius: 0.25rem !default;
$border-radius-lg: 0.3 !default;
$border-radius-sm: 0.5rem !default;
$rounded-pill: 10rem !default;

//----------------------------------
//INPUT
//----------------------------------
$input-padding-y: 1.125rem; // left and right
$input-padding-x: 0.625rem; // Top and Bottom
$input-padding-x-sm: 0.375rem;
$input-padding-x-lg: 0.75rem;

#main {
  .highlight {
    padding: 7px;
    background-color: #000;
    border-radius: 6px;
  }

  pre {
    margin-bottom: 0;
  }

  .bd-example {
    padding: 20px 0;
    background-color: #fff;
  }

  //Typography css

  /* WEIGHTS */
  .text-weight-regular {
    font-weight: $font-weight-regular;
  }

  .text-weight-semibold {
    font-weight: $font-weight-semi-bold;
  }

  .text-weight-medium {
    font-weight: $font-weight-medium;
  }

  .text-weight-bold {
    font-weight: $font-weight-bold;
  }

  h1,
  .large-text-1,
  h2,
  .large-text-2,
  h3,
  .large-text-3,
  h4,
  .medium-text-1 {
    font-weight: $font-weight-medium;
  }

  h5,
  .medium-text-2,
  h6,
  .small-text-1,
  h7,
  .small-text-2 {
    font-weight: $font-weight-semi-bold;
  }

  h1,
  .large-text-1 {
    font-size: 56px;
    line-height: 110%;
    letter-spacing: -1px;
  }

  h2,
  .large-text-2 {
    font-size: 42px;
    line-height: 120%;
    letter-spacing: -1px;
  }

  h3,
  .large-text-3 {
    font-size: 32px;
    line-height: 125%;
    letter-spacing: -1px;
  }

  h4,
  .medium-text-1 {
    font-size: 22px;
    line-height: 130%;
    letter-spacing: -0.2px;
  }

  h5,
  .medium-text-2 {
    font-size: 18px;
    line-height: 140%;
  }

  h6,
  .small-text-1 {
    font-size: 16px;
    line-height: 140%;
  }

  h7,
  .small-text-2 {
    font-size: 14px;
    line-height: 140%;
  }

  // PARAGRAPHS
  .para--one,
  .para--two,
  .para--three,
  .para--four {
    font-weight: $font-weight-regular;
  }

  .para--one {
    font-size: 18px;
    line-height: 155%;
    color: $gray-dark-color;
  }

  .para--two,
  .para--three,
  .form-label-lg {
    color: $gray-darker-color;
  }

  .para--two {
    font-size: 16px;
    line-height: 160%;
  }

  .para--three {
    font-size: 14px;
    line-height: 160%;
  }

  .para--four {
    font-size: 12px;
    line-height: 140%;
  }

  // LABELS
  .form-label-lg,
  .form-label-md,
  .form-label-sm {
    font-weight: $font-weight-medium;
    line-height: 140%;
  }

  .form-label-lg {
    font-size: 18px;
  }

  .form-label-md {
    font-size: 16px;
  }

  .form-label-sm {
    font-size: 14px;
  }

  //End Typography css

  //colors

  .primary-background-color {
    background-color: $primary-color;
  }
  .primary-light-background-color {
    background-color: $primary-light-color;
  }
  .primary-dark-background-color {
    background-color: $primary-dark-color;
  }
  .primary-alpha-light-background-color {
    background-color: $primary-alpha-light-color;
  }
  .primary-alpha-lighter-background-color {
    background-color: $primary-alpha-lighter-color;
  }
  .primary-alpha-dark-background-color {
    background-color: $primary-alpha-dark-color;
  }

  .primary-color {
    color: $primary-color;
  }
  .primary-light-color {
    color: $primary-light-color;
  }
  .primary-dark-color {
    color: $primary-dark-color;
  }
  .primary-alpha-light-color {
    color: $primary-alpha-light-color;
  }
  .primary-alpha-lighter-color {
    color: $primary-alpha-lighter-color;
  }
  .primary-alpha-dark-color {
    color: $primary-alpha-dark-color;
  }

  // Secondary

  .secondary-background-color {
    background-color: $secondary-color;
  }
  .secondary-light-background-color {
    background-color: $secondary-light-color;
  }
  .secondary-lighter-background-color {
    background-color: $secondary-lighter-color;
  }
  .secondary-alpha-light-background-color {
    background-color: $secondary-alpha-light-color;
  }
  .secondary-alpha-lighter-background-color {
    background-color: $secondary-alpha-lighter-color;
  }
  .secondary-alpha-dark-background-color {
    background-color: $secondary-alpha-dark-color;
  }

  .secondary-color {
    color: $secondary-color;
  }
  .secondary-light-color {
    color: $secondary-light-color;
  }
  .secondary-lighter-color {
    color: $secondary-lighter-color;
  }
  .secondary-alpha-light-color {
    color: $secondary-alpha-light-color;
  }
  .secondary-alpha-lighter-color {
    color: $secondary-alpha-lighter-color;
  }
  .secondary-alpha-dark-color {
    color: $secondary-alpha-dark-color;
  }

  // Gray
  .gray-background-color {
    background-color: $gray-color;
  }
  .gray-light-background-color {
    background-color: $gray-light-color;
  }
  .gray-lighter-background-color {
    background-color: $gray-lighter-color;
  }
  .gray-dark-background-color {
    background-color: $gray-dark-color;
  }
  .gray-darker-background-color {
    background-color: $gray-darker-color;
  }
  .gray-alpha-dark-background-color {
    background-color: $gray-alpha-dark-color;
  }

  .gray-color {
    color: $gray-color;
  }
  .gray-light-color {
    color: $gray-light-color;
  }
  .gray-lighter-color {
    color: $gray-lighter-color;
  }
  .gray-dark-color {
    color: $gray-dark-color;
  }
  .gray-darker-color {
    color: $gray-darker-color;
  }
  .gray-alpha-dark-color {
    color: $gray-alpha-dark-color;
  }

  // Red
  .red-color {
    color: $red-color;
  }

  .red-background-color {
    background-color: $red-color;
  }

  // Button sizes
  .btn {
    border-radius: 4px;
    text-align: center;
    border: none;
    cursor: pointer;
    outline: 2px solid transparent;
  }

  .btn--huge {
    padding: 22px 30px;
    font-size: 17px;
    font-weight: $font-weight-medium;
    line-height: 22px;
  }

  .btn--large {
    padding: 15px 22px;
    font-size: 16px;
    font-weight: $font-weight-medium;
    line-height: 117%;
  }

  .btn--mid {
    padding: 10px 14px;
    font-size: 14px;
    font-weight: $font-weight-medium;
    line-height: 22px;
  }

  .btn--small {
    padding: 5px 12px;
    font-size: 13px;
    font-weight: $font-weight-medium;
    line-height: 22px;
  }

  .btn--wide {
    padding: 14px 78px;
    font-weight: $font-weight-medium;
    font-size: 14px;
    line-height: 100%;
  }

  .btn--fluid {
    width: 100%;
  }

  /* Green Button */
  .btn--primary {
    background-color: $primary-dark-color;
    color: $white-color;
    border: 1px solid transparent;
    outline-color: transparent;

    &:hover {
      background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.3),
          rgba(255, 255, 255, 0.3)
        ),
        $primary-dark-color;
      border-color: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.3),
          rgba(255, 255, 255, 0.3)
        ),
        $primary-dark-color;
    }

    &:active {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        $primary-dark-color;
    }

    &:focus {
      background: $primary-dark-color;
      outline-color: $secondary-lighter-color;
      border: 1px solid $white-color;
      box-shadow: 0 0 0 2px $primary-dark-color;
    }
  }

  .btn--primary--disabled {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.3)
      ),
      $gray-color;
    color: $gray-light-color;
  }

  /* Blue Button */
  .btn--secondary {
    background-color: $secondary-light-color;
    color: $white-color;
    border: 1px solid transparent;
    outline-color: transparent;

    &:hover {
      background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.3),
          rgba(255, 255, 255, 0.3)
        ),
        $secondary-light-color;
      border-color: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.3),
          rgba(255, 255, 255, 0.3)
        ),
        $secondary-light-color;
    }

    &:active {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        $secondary-light-color;
    }

    &:focus {
      background: $secondary-light-color;
      outline-color: $secondary-lighter-color;
      border: 1px solid $white-color;
      box-shadow: 0 0 0 2px $secondary-lighter-color;
    }
  }

  .btn--secondary--disabled {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.3)
      ),
      $gray-color;
    color: $gray-light-color;
  }

  /* White Button */
  .btn--white {
    background-color: $white-color;
    border: 1px solid $gray-light-color;
    outline-color: transparent;
    color: $gray-darker-color;

    &:hover {
      background: $white-color;
      border: 1px solid $gray-dark-color;
    }

    &:active {
      background: $gray-light-color;
    }

    &:focus {
      background: $white-color;
      outline-color: $secondary-lighter-color;
      border: 1px solid $gray-light-color;
      box-shadow: 0 0 0 2px $gray-light-color;
    }
  }

  .btn--white--disabled {
    background: $white-color;
    color: $gray-color;
    border: 1px solid $gray-color;
  }

  /* Variations */
  .btn--icon-right {
    span {
      margin-left: 7px;
      font-size: 20px;
      vertical-align: top;
    }
  }

  .btn--icon-left {
    span {
      margin-right: 7px;
      font-size: 20px;
      vertical-align: top;
    }
  }

  // checkbox
  input[type="checkbox"].form-check-input {
    width: 20px;
    height: 20px;
    vertical-align: top;

    &::before {
      content: "";
      background: $white-color;
      border-radius: 2px;
      border: 2px solid $gray-light-color;
      display: inline-block;
      width: 20px;
      height: 20px;
      position: relative;
      top: -0.2em;
      margin-right: 1em;
      vertical-align: top;
      text-align: center;
      box-sizing: content-box;
      margin-left: -2px;
    }

    &:checked {
      &::before {
        font-family: $material-icons-font-family;
        background-color: $secondary-lighter-color;
        border: 2px solid $secondary-lighter-color;
        content: "\e876";
        font-size: 20px;
        line-height: 20px;
        margin-top: 1px;
        color: $white-color;
      }
    }

    &:focus {
      box-shadow: none !important;

      &::before {
        outline: none !important;
        border-color: $secondary-lighter-color;
      }
    }

    &:disabled {
      &::before {
        background: $gray-light-color;
        border-color: $gray-light-color;
        border: 2px solid $gray-light-color;
      }
    }
  }

  input[type="checkbox"].form--check--input--checked {
    &::before {
      font-family: $material-icons-font-family;
      background-color: $secondary-lighter-color;
      border: 2px solid $secondary-lighter-color;
      content: "\e876";
      font-size: 20px;
      line-height: 20px;
      margin-top: 1px;
      color: $white-color;
    }
  }

  input[type="checkbox"].form--check--input--disabled {
    &::before {
      background: $gray-light-color;
      border-color: $gray-light-color;
      border: 2px solid $gray-light-color;
    }
  }

  input[type="checkbox"].form-check-input-minus {
    width: 20px;
    height: 20px;
    vertical-align: top;

    &::before {
      content: "";
      background: $white-color;
      border-radius: 2px;
      border: 2px solid $gray-light-color;
      display: inline-block;
      width: 20px;
      height: 20px;
      position: relative;
      top: -0.2em;
      margin-right: 1em;
      vertical-align: top;
      text-align: center;
      box-sizing: content-box;
    }

    &:checked {
      &::before {
        font-family: $material-icons-font-family;
        background-color: $secondary-lighter-color;
        border: 2px solid $secondary-lighter-color;
        content: "\e15b";
        font-size: 20px;
        line-height: 20px;
        margin-top: 1px;
        color: $white-color;
      }
    }

    &:focus {
      &::before {
        outline: none;
        border-color: $secondary-lighter-color;
      }
    }

    &:disabled {
      &::before {
        background: $gray-light-color;
        border-color: $gray-light-color;
        border: 2px solid $gray-light-color;
      }
    }
  }

  input[type="checkbox"].form--check--input--minus--checked {
    &::before {
      font-family: $material-icons-font-family;
      background-color: $secondary-lighter-color;
      border: 2px solid $secondary-lighter-color;
      content: "\e15b";
      font-size: 20px;
      line-height: 20px;
      margin-top: 1px;
      color: $white-color;
    }
  }

  input[type="checkbox"].form--check--input--minus--disabled {
    &::before {
      background: $gray-light-color;
      border-color: $gray-light-color;
      border: 2px solid $gray-light-color;
    }
  }

  .form-check-label {
    font-size: 14px;
    vertical-align: top;
    color: $gray-darker-color;
    line-height: 24px;
    font-family: $main-font-family;
    font-weight: $font-weight-regular;
    margin-left: 10px;
  }

  //Text Input
  .form--text--input {
    display: block;
    font-size: 14px;
    font-weight: $font-weight-regular;
    color: $gray-dark-color;
    line-height: 20px;
    border-radius: $border-radius;
    border: 1px solid $gray-light-color;
    padding: $input-padding-x $input-padding-y;
    white-space: nowrap;

    &:hover {
      border: 1px solid $gray-color;
    }

    &:focus,
    &:focus-visible {
      border: 2px solid $secondary-lighter-color;
      padding: calc($input-padding-x - 1px) calc($input-padding-y - 1px);
      outline: none;
    }

    &:disabled,
    &.form--text--input--disabled {
      background: $gray-light-color;
      color: $gray-dark-color;

      &:hover {
        border: 1px solid $gray-light-color;
      }
    }
  }

  /* Input Small size */
  .form--text--input--small {
    font-size: 12px;
    line-height: 20px;
    padding: $input-padding-x-sm $input-padding-y;

    &:focus,
    &:focus-visible {
      padding: calc($input-padding-x-sm - 1px) calc($input-padding-y - 1px);
    }
  }

  /* Input Large size */
  .form--text--input--large {
    font-size: 18px;
    line-height: 20px;
    padding: $input-padding-x-lg $input-padding-y;

    &:focus,
    &:focus-visible {
      padding: calc($input-padding-x-lg - 1px) calc($input-padding-y - 1px);
    }
  }

  // ----------------------------------
  // Search Input
  // ----------------------------------

  .form--search--input-parent {
    .search-icon {
      top: 180%;
      transform: translateY(-180%);
      font-size: 16px;
      padding-left: $input-padding-y;
    }

    .form--text--input {
      padding-left: calc($input-padding-y + 24px);

      &:focus,
      &:focus-visible {
        padding-left: calc($input-padding-y + 24px - 1px);
      }
    }

    .form--text--input--small {
      & ~ .search-icon {
        font-size: 14px;
      }
    }

    .form--text--input--large {
      & ~ .search-icon {
        font-size: 18px;
      }
    }
  }

  //Accordion
  .accordion {
    width: 100%;

    input[type="checkbox"].accordion__tab--checkbox {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
  }

  .accordion__tab {
    width: 100%;
    background-color: $white-color;
    color: $gray-darker-color;
    overflow: hidden;
    border: none;
    outline: none;
    transition: 0.4s;
    position: relative;

    &:first-child {
      border-top: 1px solid $gray-light-color;
    }

    &--label {
      display: flex;
      cursor: pointer;
      padding: 15px 7px;
      text-align: left;
      font-size: 16px;
      font-weight: $font-weight-semi-bold;
      color: $gray-darker-color;
      width: 95%;

      &:hover {
        background-color: $white-color;
      }

      &::after {
        font-family: $material-icons-font-family;
        content: "\e5cf";
        font-size: 22px;
        text-align: center;
        transition: 0.4s;
        display: block;
        position: absolute;
        top: 10px;
        right: 7px;
      }
    }

    .btn__clear {
      margin-left: 10px;
      font-size: 14px;
      font-weight: $font-weight-regular;
      text-decoration: underline;
      color: $black-color;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    .accordion__btn-pill {
      float: right;
      color: $secondary-lighter-color;
      background-color: $gray-lighter-color;
      font-size: 0.75rem;
      padding: 3px 8px;
      border-radius: 20px;
      border: 1px solid $gray-light-color;
      position: absolute;
      right: 40px;
      top: 12px;
    }

    &--content {
      max-height: 0;
      border-bottom: 1px solid $gray-light-color;
      overflow: hidden;
      padding: 0 7px;
      transition: 0.4s;
      font-size: 14px;

      .show__more {
        font-size: 14px;
        font-weight: $font-weight-regular;
        text-decoration: underline;
        color: $black-color;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }

      ul.list--checkbox {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          padding-bottom: 7px;
        }
      }

      a {
        color: $gray-darker-color;
        text-decoration: underline;
      }
    }
  }

  input:checked {
    + .accordion__tab--label {
      &::after {
        transform: rotate(180deg);
      }
    }

    ~ .accordion__tab--content {
      max-height: 100vh;
      transition: 0.4s;
    }
  }

  //Pagination
  .pagination--nav {
    .pagination {
      padding-left: 0;
      list-style: none;
      margin: 0;

      .page--item {
        &:not(:first-child, :last-child, .page--item--parent) {
          margin: 0 6px;
        }

        .page--link {
          border-radius: $border-radius;
          line-height: normal;
          background-color: $white-color;
          position: relative;
          min-width: 42px;
          min-height: 42px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          font-weight: $font-weight-medium;
          font-size: 16px;
          color: $gray-darker-color;

          &:not(.page--link--dots) {
            border: 1px solid $gray-light-color;

            &:hover {
              background-color: $gray-light-color;
              border: 1px solid $gray-light-color;
            }
          }

          &.chevron--left::after,
          &.chevron--right::after {
            font-family: $material-icons-font-family;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px;
          }

          &.chevron--left::after {
            content: "\e5cb";
          }

          &.chevron--right::after {
            content: "\e5cc";
          }
        }

        &.disabled {
          .page--link {
            color: $gray-color;
            pointer-events: none;
            cursor: auto;
          }
        }

        &.active {
          .page--link {
            background: $gray-light-color;
            border: 1px solid $gray-dark-color;
            font-weight: $font-weight-bold;

            &:hover {
              background: $gray-light-color;
              border: 1px solid $gray-dark-color;
            }
          }
        }
      }
      &.pagination--small {
        .page--item {
          .page--link {
            min-width: 32px;
            min-height: 32px;
            font-weight: $font-weight-bold;
            font-size: 14px;
            line-height: 150%;
          }
        }
      }
    }
  }

  //Pills
  button.chip {
    text-rendering: auto;
    color: inherit;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-shadow: none;
    text-align: inherit;
    align-items: inherit;
    cursor: pointer;
    box-sizing: inherit;
    background-color: inherit;
    padding: inherit;
    border-width: inherit;
    border-style: inherit;
    border-color: inherit;
    border-image: inherit;
    position: relative;

    &:focus-visible {
      outline: none;
    }
  }

  .chip {
    .chip__value {
      font-weight: $font-weight-regular;
      font-size: 14px;
      line-height: 1;
      padding: 8px 12px;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: $border-radius;
    }

    .chip__icon--before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 6px 7px 6px 7px;
      font-size: 20px;
      left: 0;
      margin-top: 1px;
      border-radius: $border-radius 0 0 $border-radius;

      & + .chip__value {
        margin-left: 30px;
        border-radius: 0 $border-radius $border-radius 0;
      }
    }

    .chip__icon--after {
      border-radius: 0 $border-radius $border-radius 0;
      padding: 5px;
      float: right;
      font-size: 20px;
      cursor: pointer;
      line-height: 20px;
      padding: 6px 7px 6px 7px;
      margin-top: -6px;

      & + .chip__value {
        border-radius: $border-radius 0 0 $border-radius;
      }
    }
  }
}
